################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/web_api/.vs/web_api/FileContentIndex/f55e3eae-b6d0-407b-b180-50dcdd122a01.vsidx
